<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>J&Js Getaways</title>
</head>
<body>
<!-- Main Body of Page -->
<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark">

            <!-- TODO make this display the location -->
            <h1>Add Guest</h1>
            <h2 th:text="${p.propertyName}"></h2>
        </div>
    </div>
</div>

<div class="row m-4 border border-dark" name="add-guest-form">
    <div class="col-7 text-center m-3 border border-dark">
        <form action="#" th:action="@{/newGuest}" method="POST" th:object="${g}" style="padding: 20px" class="form">
            <input type="hidden" name="propertyID" th:value="${p.propertyID}"/>
            <div class="form-group row">
                <label class="row-3 row-form-label">First Name </label>
                <div class="col-9">
                    <input type="text" th:field="*{firstName}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="row-3 row-form-label">Last Name </label>
                <div class="col-9 text right">
                    <input type="text" th:field="*{lastName}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="row-3 row-form-label">Email</label>
                <div class="col-9">
                    <input type="text" th:field="*{email}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="row-3 row-form-label">Phone Number</label>
                <div class="col-9">
                    <input type="text" th:field="*{phoneNumber}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="row-3 row-form-label">Postcode </label>
                <div class="col-9">
                    <input type="text" th:field="*{postcode}"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
    </div>
    <div class="col-7 text-center m-3">
    </div>
</div>
<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>