<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>J&Js Getaways</title>
</head>

<!-- Main Body of Page -->
<body th:style="'background-image: url(' + @{/images/home-background.jpg} + '); background-size: cover;
    background-repeat: no-repeat; background-position: center center; min-height: 100vh; overflow: hidden;'">

<style>
        body::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: rgba(47,103,177,.3)

        .formContainer {
            width: 500px;
            clear: both;}

        .formContainer input {
            width: 100%;
            clear: both;}
        }

</style>
<div class="container">
    <div class="row m-4">
        <div class="col text-center">
            <h1 style="color: white; font-size: 64px;">Add Guest</h1>
        </div>
    </div>
</div>


<div style="display: flex; justify-content: center; align-items: center; height: 40vh; padding-top:200px">
    <div class="col-3"
         style="text-align: center; background-color: #fff; padding: 30px; box-shadow: 0 5px 20px -5px rgba(0,0,0,.3); border-radius: 4px; justify-content:center; align-items: center display:flex">
        <!-- Form -->
                <form action="#" th:action="@{/addGuestForm}" method="POST" th:object="${g}" style="padding: 20px;">
                    <input type="hidden" name="propertyID" th:value="${p.propertyID}"/>
                    <table style="padding:10px display:flex" >
                        <tr>
                            <td align="left"><label class="row-3 row-form-label">First Name </label></td>
                            <td align="right"><input type="text" th:field="*{firstName}"/></td>
                        </tr>
                        <tr>
                            <td align="left"> <span style="color: red"th:if="${#fields.hasErrors('firstName')}"> Error:</span> </td>
                            <td align="right"><span style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span></td>
                        </tr>
                        <tr>
                            <td align="left"><label class="row-3 row-form-label">Last Name </label></td>
                            <td align="right"><input type="text" th:field="*{lastName}"/></td>
                        </tr>
                        <tr>
                            <td align="left"> <span style="color: red" th:if="${#fields.hasErrors('lastName')}"> Error:</span> </td>
                            <td align="right"><span style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span></td>
                        </tr>
                        <tr>
                            <td align="left"><label class="row-3 row-form-label">Email</label></td>
                            <td align="right"><input type="text" th:field="*{email}"/></td>
                        </tr>
                        <tr>
                            <td align="left"> <span style="color: red" th:if="${#fields.hasErrors('email')}"> Error:</span> </td>
                            <td align="right"><span style="color:red"th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></td>
                        </tr>
                        <tr>
                            <td align="left"><label class="row-3 row-form-label">Phone Number</label></td>
                            <td align="right"><input type="text" th:field="*{phoneNumber}"/></td>
                        </tr>
                        <tr>
                            <td align="left"> <span style="color: red" th:if="${#fields.hasErrors('phoneNumber')}"> Error:</span> </td>
                            <td align="right"><span style="color:red"th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span></td>
                        </tr>
                        <tr>
                            <td align="left"><label class="row-3 row-form-label">Postcode </label></td>
                            <td align="right"><input type="text" th:field="*{postcode}"/></td>
                        </tr>
                        <tr>
                            <td align="left"> <span style="color: red" th:if="${#fields.hasErrors('postcode')}"> Error:</span> </td>
                            <td align="right"><span style="color:red"th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}"></span></td>
                        </tr>
                    </table>
                    <div class="row" style="align-text: right">
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>


                </form>
    </div>
</div>
<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>