<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>J&Js Getaways</title>
</head>

<!-- Main Body of Page -->
<body>
<!-- Title -->
<div class="container">
    <div class="col m-4">
        <div class="col text-center">
            <h1 style="font-size: 64px;">J&Js Getaways</h1>
        </div>
    </div>
</div>

<!-- Title + filter button -->
<div class="container">
    <div class="row m-4">
        <div class="col text-center">
            <h3>Properties from everywhere:</h3>
        </div>
    </div>
</div>

<!-- Property grid -->
<div class="grid-container"
     style="display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 20px; padding: 20px;">
    <div th:each="property : ${properties}" class="propertyCard" style="border: 1px solid #ccc; padding: 20px;">
        <div style="display: flex;">
            <img th:src="@{images/logo-placeholder.jpg}" alt="Property image" style="float:left;width:200px;">
            <div style="margin-left: 20px;">
                <h2><span th:text="${property.propertyName}"></span> -
                    <span th:text="${property.propertyLocation}" style="font-size: 0.6em;"></span></h2>
                <div>
                    <div style="display: block;">
                        Capacity: <span th:text="${property.capacity}"></span>
                    </div>
                    <div style="display: block;">
                        Price per night: <span th:text="${property.perNightCost}"></span>
                    </div>
                    <div style="display: block;">
                        Rating: <span th:text="${property.rating}"></span>
                    </div>
                </div>
                <div>
                    <table>
                        <tr>
                            <td><a href="#" th:href="@{/propertyDetails(id=${property.propertyID})}"
                                   class="btn btn-outline-primary btn">More Details</a></td>
                            <td><a href="#" th:href="@{/bookProperty(id=${property.propertyID})}"
                                   class="btn btn-outline-primary btn">Book</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>


