<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>J&Js Getaways</title>
</head>

<!-- Main Body of Page -->
<!-- Background -->
<body th:style="'background-image: url(' + @{/images/home-background.jpg} + '); background-size: cover;
    background-repeat: no-repeat; background-position: center center; min-height: 100vh; overflow: hidden;'">

<style>
        body::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: rgba(47,103,177,.3);
        }

</style>

<!-- Title -->
<div class="container">
    <div class="col m-4">
        <div class="col text-center">
            <h1 style="color: white; font-size: 64px;">J&Js Getaways</h1>
        </div>
    </div>
</div>

<!-- Property information -->
<div class="container">
    <div class="container" name="propertyDetailsTemplate" style="background-color:white; box-shadow: 0 5px 20px -5px rgba(0,0,0,.3); border-radius: 4px;">
        <div class="row" style="justify-content: center;">
            <h3 style="padding-top:20px;" th:text="${p.propertyName}"></h3>
        </div>
        <div class="row">
            <div class="col m-3">
                <img th:src="@{images/logo-placeholder.jpg}" alt="Property image" style="float:left;width:200px;">
            </div>

            <!-- Amenities table -->
            <div class="col m-3">
                <table class="table table-striped">
                    <thead>
                    <th>Amenities</th>
                    </thead>
                    <tbody th:each="String : ${a}">
                    <td> - <span th:text="${String}"></span></td>
                    </tbody>
                </table>
            </div>

            <!-- More information details -->
            <div class="col m-3 background-dark">
                <div class="grid">
                    <tbody>
                    <div class="row">Location: <span th:text="${p.propertyLocation}"></span></div>
                    <div class="row">Capacity: <span th:text="${p.capacity}"></span></div>
                    <div class="row">Property Type: <span th:text="${p.propertyType}"></span></div>
                    <div class="row">Rating: <span th:text="${p.rating}"></span> / 5</div>
                    </tbody>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Gather booking details -->
<div class="container">
    <div class="row m-4" style="background-color: white; box-shadow: 0 5px 20px -5px rgba(0,0,0,.3); border-radius: 4px;">
        <div class="col m-3">
            <form action="#" th:action="@{/confirmBooking}" method="POST" th:object="${b}" style="padding: 20px"
                  class="form">
                <input type="hidden" name="propertyID" th:value="${p.propertyID}"/>
                <input type="hidden" name="guestID" th:value="${g.guestID}"/>
                <div class="form-group row">
                    <div class="form-group col">
                        <label class="row-3 row-form-label">Guests </label>
                        <div class="col-9">
                            <input type="number" th:field="*{numberOfGuests}"/>
                            <span style="color:red" th:if="${#fields.hasErrors('numberOfGuests')}" th:errors="*{numberOfGuests}"></span>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label class="row-3 row-form-label">Start Date </label>
                        <div class="col-9">
                            <input type="date" th:field="*{startDate}"/>
                            <span style="color:red"  th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label class="row-3 row-form-label">End Date </label>
                        <div class="col-9">
                            <input type="date" th:field="*{endDate}"/>
                            <span style="color:red"  th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>;